<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">User update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formUser" (ngSubmit)="modal.close(formUser)" class="login-form" novalidate>
      <div class="form-group">
          <div class="column">
              <label>NAME</label>
              <div class="col-md-9">
                  <input type="text" id="name" class="form-control" formControlName="name" />
              </div>
              <div class="alert alert-danger" *ngIf="name.invalid && name.dirty"> Name is invalid (exemple : Peter)</div>
          </div>
          <br />
          <div class="column">
              <label>FAMILY</label>
              <div class="col-md-9">
                  <input type="text"  id="family" class="form-control" formControlName="family" />
              </div>
              <div class="alert alert-danger" *ngIf="family.invalid && family.dirty"> Family is invalid (exemple : Jackson)</div>
          </div>
          <br />
          <div class="column">
              <label>BIRTHDAY</label>
              <div class="col-md-5 birthday">
                  <input  class="form-control" placeholder="yyyy-mm-dd"  id="birthday" formControlName="birthday" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
              </div> 
              <div class="alert alert-danger" *ngIf="birthday.invalid && birthday.dirty ">Birthday is invalid (exemple: 2000-01-01)</div>
          </div>
          <br />
        <div class="column">
          <label>NUMBER OF CHILDREN</label>
          <div class="col-md-5">
              <input type="number" min="0" class="form-control" id="birthday" formControlName="numberOfChild" />
          </div>
          <div class="alert alert-danger" *ngIf="numberOfChild.invalid && numberOfChild.dirty"> Please enter a positive number </div>   
        </div>
        <br />
        <div class="modal-footer"> 
            <div class="alert alert-danger" *ngIf="formUser.invalid"> All is required  </div>  
          <input type="submit" class="hs-button primary small"  [disabled]="formUser.invalid" value="Save"/>
        </div>
      </div>
    </form>
  </div>
 
  
</ng-template>
